---
export type Heading = {
  subheadings: Heading[];
  depth: number;
  slug: string;
  text: string;
};

interface Props {
  heading: Heading;
}
const { heading } = Astro.props;
---

<li class="hover:text-primary">
  <a href={"#" + heading.slug} class="text-on-surface-variant hover:text-primary transition-colors">
    {heading.text}
  </a>
  {
    heading.subheadings.length > 0 && (
      <ul class="pl-5">
        {heading.subheadings.map((subheading) => (
          <Astro.self heading={subheading} />
        ))}
      </ul>
    )
  }
</li>
